[Unit]
Description=uniloader queuemetric service
After=network.target

[Service]
EnvironmentFile=/etc/default/uniloader
ExecStart=/usr/local/bin/uniloader -s $QMLIVE_ASTERISK_QUEUE upload --uri $QMLIVE_URI --login $QMLIVE_LOGIN --pass $QMLIVE_PASSWORD

[Install]
WantedBy=multi-user.target
