#!/bin/bash
# SPDX-License-Identifier: GPL-3.0+


case "$1" in
    build)
        ;;

    package)
        cp -R etc ${pkgdir}/
        cp -R usr ${pkgdir}/
        ;;

    install)
        ;;

    uninstall)
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
