#!/bin/bash
# SPDX-License-Identifier: GPL-3.0+


case "$1" in
    build)
        python setup.py bdist
        ;;

    package)
        BINARY=${pkgdir}/usr/local/bin/uniloader

        tar xvf dist/wazo_admin_ui_queuemetrics-*.tar.gz -C ${pkgdir}
        cp -R etc ${pkgdir}/
        cp -R lib ${pkgdir}/
        mkdir -p ${pkgdir}/usr/local/bin/
        if [ "${DEB_BUILD_ARCH}" = "i386" ]
        then
            cp -a usr/local/bin/uniloader_386 ${BINARY}
        else
            cp -a usr/local/bin/uniloader_amd64 ${BINARY}
        fi
        ;;

    install)
        mkdir /var/run/uniloader
        chown wazo-admin-ui.wazo-admin-ui /etc/uniloader/*
        LOGGER=/etc/asterisk/logger.conf
        grep -q '^queue_log_to_file = yes' $LOGGER || sed -i '/queue_log/a queue_log_to_file = yes' $LOGGER
        systemctl restart wazo-admin-ui
        systemctl daemon-reload
        systemctl enable uniloader
        systemctl reload asterisk
       ;;

    uninstall)
        rm -rf /var/run/uniloader
        rm -f /etc/wazo-admin-ui/conf.d/050-queuemetrics.yml
        LOGGER=/etc/asterisk/logger.conf
        sed -i '/queue_log_to_file = yes/d' $LOGGER
        systemctl disable uniloader
        systemctl daemon-reload
        systemctl reload asterisk
        systemctl restart wazo-admin-ui
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
