#!/bin/bash
# SPDX-License-Identifier: GPL-3.0+


case "$1" in
    build)
        ;;

    package)
        cp -R etc ${pkgdir}/
        if [ "${DEB_BUILD_ARCH}" = "i386" ]
        then
            cp --parents usr/local/bin/uniloader_386 ${pkgdir}/
        else
            cp --parents usr/local/bin/uniloader_amd64 ${pkgdir}/
        fi
        ;;

    install)
        ;;

    uninstall)
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
